.login-container {
background-color: rgba(255, 255, 255, 0.9); /* fondo blanco semitransparente */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mensaje {
  margin-top: 1rem;
  text-align: center;
  color: green;
}

.registro-link-top {
  margin-bottom: 1rem;
  font-size: 0.95rem;
  text-align: center;
}

.registro-enlace {
  color: #0077cc;
  text-decoration: underline;
  cursor: pointer;
}

.registro-enlace:hover {
  color: #005fa3;
}